---
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
// import img from "../../assets/pics/perforacion.jpg";
import img from "../../assets/pics/2-4.jpg";

import { Image } from "astro:assets";

// Datos para las tarjetas
const cards = [
  {
    title: "¿Cómo lo Hacemos?",
    items: [
      {
        text: "Reconocimiento del Terreno: Mediante perforaciones, se identifican las diferentes capas del suelo o roca y se recogen muestras para análisis detallado.",
        bold: true,
      },
      {
        text: "Ensayos In Situ: Pruebas como el ensayo de penetración estándar (SPT), se realizan para evaluar propiedades mecánicas y estructurales del subsuelo.",
        bold: true,
      },
    ],
  },
  {
    title: "¿Qué beneficios obtiene?",
    items: [
      {
        text: "Resultados precisos: con métodos rigurosos aseguran la precisión en cada análisis.",
        bold: true,
      },
      {
        text: "Reducción de riesgos: minimizamos los riesgos en los proyectos de nuestros clientes.",
        bold: true,
      },
      {
        text: "Eficiencia en costos y tiempo: con enfoque optimizado reduce los tiempos del proyecto.",
        bold: true,
      },
    ],
  },
];

// Descripción del servicio de sondeo geotécnico
const geotechnicalService = {
  title: "Sondeo Geotécnico: Un Estudio Esencial para Tu Proyecto",
  description:
    "Un sondeo geotécnico es una técnica de exploración del terreno que utiliza perforaciones de pequeño diámetro para investigar las características geológicas e hidrológicas bajo la superficie. Este método permite obtener muestras del suelo o de la roca y realizar diversos ensayos directamente en el campo, lo cual es crucial para la planificación y ejecución de proyectos de construcción e ingeniería civil.",
  process: [
    "Reconocimiento del Terreno: Mediante perforaciones, se identifican las diferentes capas del suelo o roca y se recogen muestras para análisis detallado.",
    "Ensayos In Situ: Pruebas como el ensayo de penetración estándar (SPT) o pruebas de presiómetro se realizan para evaluar propiedades mecánicas y estructurales del subsuelo.",
    "La elección de la técnica y herramientas depende de la profundidad deseada, el tipo de suelo, y los objetivos específicos del estudio, como determinar la ubicación del nivel freático, la composición del suelo, o la idoneidad del terreno para soportar estructuras.",
  ],
  benefits: [
    "Garantiza la seguridad y estabilidad de las estructuras.",
    "Permite planificar adecuadamente cualquier intervención en el terreno.",
    "Fundamental para la ejecución de proyectos de ingeniería civil.",
  ],
};
---

<!-- 
  {
    title: "¿Por qué elegirnos?",
    items: [
      { text: "Especialización técnica: los informes con análisis detallados nos distinguen en el mercado por nuestro amplio conocimiento en ingeniería geotécnica.", bold: true },
      { text: "Ética y profesionalismo: nos regimos por estándares de ética y profesionalismo, asegurando a los clientes transparencia y honestidad en cada proyecto.", bold: true },
      { text: "Enfoque en la sostenibilidad: somos líderes en implementar prácticas sostenibles que no solo protegen sino que benefician al medio ambiente.", bold: true },
      { text: "Servicio personalizado: nos adaptamos a las necesidades específicas de cada cliente, ofreciendo soluciones personalizadas que otros no pueden proporcionar.", bold: true },
      { text: "Tecnología de punta: con nuestra capacidad para utilizar maquinaria compacta de último nivel.", bold: true }
    ],
  }, -->
<SectionTitle sectionTitle="Nuestros " description="Servicios" id="services" />

<Section>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-[100px] mt-[20px] items-center"
  >
    <!-- Contenido de texto -->
    <div class="flex flex-col items-start w-full lg:w-[75%]">
      <h1 class="text-3xl font-semibold mb-4">
        Exploración Geotécnica Precisa para Proyectos de Ingeniería
      </h1>

      <!-- Imagen entre el título y el texto en vista móvil -->
      <picture class="md:hidden w-full flex justify-center items-center my-6">
        <Image
          src={img}
          alt="Hero Ilustration"
          loading="eager"
          class="rounded-lg w-full h-auto max-w-[80%] md:max-w-[90%] lg:max-w-[100%]"
        />
      </picture>

      <p class="text-xl mb-4 text-justify">
        Un sondeo geotécnico es una técnica de exploración del terreno que
        utiliza perforaciones de pequeño diámetro para investigar las
        características geológicas en el subsuelo. Este método permite obtener
        muestras del suelo o de la roca y realizar diversos ensayos directamente
        en terreno y en laboratorio, lo cual es crucial para la planificación y
        ejecución de proyectos de construcción e ingeniería civil.
      </p>
      <button
        class="btn-primary w-full md:w-auto"
        onclick="window.location.href='https://bit.ly/3d4mgoJ'"
        >Conoce más</button
      >
    </div>

    <!-- Imagen para vista de escritorio -->
    <picture class="hidden md:flex w-full justify-center items-center my-6">
      <Image
        src={img}
        alt="Hero Ilustration"
        loading="eager"
        class="rounded-lg w-full h-auto max-w-[90%] md:max-w-[90%] lg:max-w-[70%]"
      />
    </picture>
  </div>

  <!-- Sección de las Cards -->
  <div
    data-aos="fade-up"
    data-aos-delay="200"
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8 px-4 md:px-8 lg:px-16"
  >
    {
      cards.map((card) => (
        <div class="card mb-4 w-full max-w-md rounded-2xl shadow-xl mx-auto">
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-center text-[#374151] pb-6">
              {card.title}
            </div>

            <ul class="space-y-4 text-[#374151] text-justify list-disc list-inside">
              {card.items.map((item) => {
                const [subtitle, ...description] = item.text.split(":");
                return (
                  <li>
                    <span class={item.bold ? "font-semibold" : ""}>
                      {subtitle}:
                    </span>
                    {description.length > 0 && description.join(":")}
                  </li>
                );
              })}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</Section>
<SectionTitle sectionTitle="¿Por qué elegirnos?" description="" id="" />

<Section>
  <ul class="space-y-4 text-[#374151] text-justify list-disc list-inside text-lg">
    {[
      { text: "Especialización técnica: los informes con análisis detallados nos distinguen en el mercado por nuestro amplio conocimiento en ingeniería geotécnica.", bold: true },
      { text: "Ética y profesionalismo: nos regimos por estándares de ética y profesionalismo, asegurando a los clientes transparencia y honestidad en cada proyecto.", bold: true },
      { text: "Enfoque en la sostenibilidad: somos líderes en implementar prácticas sostenibles que no solo protegen sino que benefician al medio ambiente.", bold: true },
      { text: "Servicio personalizado: nos adaptamos a las necesidades específicas de cada cliente, ofreciendo soluciones personalizadas que otros no pueden proporcionar.", bold: true },
      { text: "Tecnología de punta: con nuestra capacidad para utilizar maquinaria compacta de último nivel.", bold: true }
    ].map((item) => {
      const [subtitle, ...description] = item.text.split(":");
      return (
        <li>
          <span class={item.bold ? "font-semibold text-[#A65317]" : ""}>{subtitle}:</span> {description.join(":")}
        </li>
      );
    })}
  </ul>
</Section>
<style>
  .card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(245, 117, 5, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
</style>
