---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "";


import p1 from "../../assets/pics/Marta-Gaete_2022.png"
import p2 from "../../assets/pics/DON-ENRIQUE.jpg"

const team = [
  {
    pic: p2,
    name: "Enrique Sepúlveda Bornand",
    role: "Ingeniero Civil Estructural UBB, Gerente de Proyectos",
    description:
      "Lidera nuestros proyectos con visión y precisión, garantizando el éxito en cada etapa.",
    link: "https://linkedin.com",
  },
  {
    pic: p1,
    name: "Marta Gaete Orellana",
    role: "Directora de Gestión",
    description:
    "Líder estratégica y enfocada en resultados, nuestra Directora impulsa el éxito de cada iniciativa." ,
    link: "https://linkedin.com",
  }
];
---

<Section id="about">
    <SectionTitle sectionTitle="Nuestro Equipo" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 grid-rows-1 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
</Section>
